/* Footer simple */
.site-footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.site-footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #e11e1e;
    text-decoration: none;
}
a:active {
    color: #e7c118;
    text-decoration: none;
}